@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .glitch {
    position: relative;
    animation: glitch 0.2s infinite;
  }

  @keyframes glitch {
    0% {
      text-shadow: -2px 0 #FF3366, 2px 0 #00F0FF;
      transform: skewX(-0.1deg);
    }
    50% {
      text-shadow: 2px 0 #FF3366, -2px 0 #00F0FF;
      transform: skewX(0.1deg);
    }
    100% {
      text-shadow: -2px 0 #FF3366, 2px 0 #00F0FF;
      transform: skewX(-0.1deg);
    }
  }
}

@theme inline {
  --font-sans: 'Outfit', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}
